html { background-image: url(https://img.freepik.com/vetores-premium/abstrato-fundo-azul-claro-pano-de-fundo-para-cartoes-postais-e-banners-para-sites-de-outdoors-de-negocios-e-posteres-e-capas-ilustracao-vetorial-para-design-grafico_589396-668.jpg);
    background-size: cover;
}

body {
   
    background-color: white;
    font-family: 'Urbanist';
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: hsl(4, 56%, 59%);
    border-style: solid;
    padding: 40px;
    border-radius: 20px;
    outline: 1px solid hsl(4, 56%, 59%);
    box-shadow: 3px 3px 4px  hsla(4, 39%, 40%, 0.835)
    

}


h1 {
    font-size: 40px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding: 20px;
    font-family: 'Lucida Sans';
    color: #025959;
    border-radius:10px;
    display: inline-block;
    text-align: center;
    text-shadow: 2px 1px 0px  #023f3fe6;
}

h2 {
    color: #6CC5C6;
    font-size: 33px;
    font-family: 'Lucida Sans';

}
    
h3 {color: #9ED6D7;
    font-size: 20px;
    font-family: 'Lucida Sans';
}

a {
    color:  hsla(4, 82%, 69%, 0.687);
    font-size: 17px;
}

p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
}

a:visited{
    color: blue;
}


    


